$hd: 1;
/* Button */
$at-button-height: 46px !default;
$at-button-height-sm: 30px !default;
$at-loading-size: 18px !default;

/* Activity Indicator */
$at-activity-indicator-font-size: 14px !default;

/* Modal */
$at-modal-width: 270px !default;

$at-toast-min-width: 128px !default;
$at-toast-image-size: 60px !default;